@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*
{
    font-family: 'Montserrat';
    margin: 0%;
}
body
{
    background-color: #e9ecef;
}
/* navbar */
p{
    font-family: 'Montserrat';
 }
 html{
    scroll-behavior: smooth;
 }

 .contenedor-navbar
 {
	position: relative;
 }
.nav-bar{
    background-color: #4f1d34;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat';
    position: relative;
    z-index: 99;
    width: 99vw;
}

#imgNav{
    width: 28%;
    padding: 0px;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}
#imgNav:hover{
    transform: rotate(360deg);
}

#titleNav{
    color: #ffffff;
    background-color: transparent;
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px;
    text-decoration: none;
    border-radius: 50px;
    transition: .5s ease;
}

.landing{
    height:55vh; 
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.contenidoLanding{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100%;
    width: 40%;
    margin-left: 50px;
}
#textoLanding{
    color: #000000;

}

.itemNav {
font-size: 17px;
background: transparent;
border: none;
padding: 1em 1.5em;
color: #ffedd3;
text-transform: uppercase;
position: relative;
transition: .5s ease;
text-decoration: none;

}

.itemNav::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 0;
background-color: #ffc506;
transition: .5s ease;
}

.itemNav:hover {
color: #000000;
transition-delay: .5s;
}

.itemNav:hover::before {
width: 100%;
}

.itemNav::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 0;
width: 100%;
background-color: #ffc506;
transition: .4s ease;
z-index: -1;
}

.itemNav:hover::after {
height: 100%;
transition-delay: 0.4s;
color: aliceblue;
}
/* nav-bar end */

/* contenido */
.contenedor-img
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 5% 15%;
}
.imagenes
{
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
}
.contenedor-img-grid
{
    width: 250px;
    height: 300px;
}

/* .contenedor-img a p
{
    position: relative;
    top: 30%;
} */

.imagenes:hover
{
  transform: translateY(-4px);
}

.titulo-animes
{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  color: #222120;
  font-size: 50px;
  font-weight: 100;
}

/* buscar */
.input {
  border: 3px solid #4f1d34;
  border-radius: 20px;
  background-image: linear-gradient(120deg,#4f1d34d3,#ef8c64);
  color: rgb(248, 248, 248);
  padding: 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: all 1s;
  max-width: 170px;
  margin-left: 15%;
 }

 ::-webkit-input-placeholder { 
    color: rgb(255, 255, 255);

}

 .input:focus {
  outline-color: rgb(170, 153, 127);
 }

 /* cartas del catalogo */
 .card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    overflow: hidden;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

/* con lo que podemos identificar las cartas cuando las buscamos */
.cate-key
{
    display: none;
}
   