body
{
    margin: 0%;
    font-family: 'Montserrat';
}

.header
{
    position: absolute;
    z-index: 1;
}
.login-contenedor
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(233,102,120);
    background: linear-gradient(90deg, rgba(233,102,120,1) 0%, rgba(248,176,85,1) 100%);
}
.svg-contenedor
{
    z-index: 2;
    border-radius: 30px;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
    width: 48vw;
    height: 60vh;
    background-color: #984069;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svg-contenedor h1
{
    color: white;
}

/* Boton signup */
.contenedor-boton
{
    margin-top: 15px;
    padding-left: 36%;
}
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Contenido inputs */
.contenido-inputs
{
    height: 250px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f28;
    color: #ffffff99;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #ffffff99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #ffffff;
  }
  
  .input-group:hover .label, .input:focus {
    color: #ffffff;
  }